In [1]:
import numpy as np
import pandas as pd

import os,sys
import glob

import psycopg2
import sqlalchemy

#os.chdir("/gnshealthcare/shared/nli/dataframe/r36m/")

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from bokeh.plotting import figure, output_notebook, show

In [3]:
from blaze import *
import datetime

/gnshealthcare/shared/yyang/anaconda3/lib/python3.6/site-packages/odo/backends/pandas.py:102: FutureWarning: pandas.tslib is deprecated and will be removed in a future version.
You can access NaTType as type(pandas.NaT)
  @convert.register((pd.Timestamp, pd.Timedelta), (pd.tslib.NaTType, type(None)))

In [4]:
from multiprocessing import Pool

In [5]:
#display all output
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 160)
pd.set_option('max_colwidth',100)

import time

import itertools

# connect with SQLALchemy

In [6]:
import sqlalchemy as sa
from sqlalchemy.orm import sessionmaker

In [7]:
#>>>>>>>> MAKE CHANGES HERE <<<<<<<<<<<<< 
DATABASE = "gns200496v1"
USER = "yyang"
PASSWORD = "Cignadata1"
HOST = "cigna-redshift.cgqqgon9pujb.us-east-1.redshift.amazonaws.com"
PORT = "5439"
SCHEMA = "public"      #default is "public"

In [8]:
####### connection and session creation ############## 
connection_string = "postgresql+psycopg2://%s:%s@%s:%s/%s" % (USER,PASSWORD,HOST,str(PORT),DATABASE)

In [9]:
connection_string

'postgresql+psycopg2://yyang:Cignadata1@cigna-redshift.cgqqgon9pujb.us-east-1.redshift.amazonaws.com:5439/gns200496v1'

In [10]:
engine = sa.create_engine(connection_string)
session = sessionmaker()
session.configure(bind=engine)
s = session()
SetPath = "SET search_path TO %s" % SCHEMA
s.execute(SetPath)
###### All Set Session created using provided schema  #######

Now we have SQLalchemy connection "s"

# Connect with psycopg2

In [11]:
con=psycopg2.connect(dbname= 'gns200496v1', host='cigna-redshift.cgqqgon9pujb.us-east-1.redshift.amazonaws.com',\
                     port= '5439', user= 'yyang', password='Cignadata1')

In [12]:
SCHEMA = "public"      #default is "public"

In [13]:
cur = con.cursor()

In [14]:
SetPath = "SET search_path TO %s" % SCHEMA
cur.execute(SetPath)
con.commit()
###### All Set Session created using provided schema  #######

Now we have psycopg2 connection "con"

***

# Query start

In [ ]:
#: print all tables under the `rawdata` schema

sel = """
SELECT table_name
  FROM information_schema.tables
 WHERE table_schema='rawdata'
   AND table_type='BASE TABLE';
"""

tables = pd.read_sql(sel,con)
tables

In [ ]:
#: check census and lfstl_assmt
sel = '''
select top 100 * from rawdata.census;
'''

tables = pd.read_sql(sel, con)
tables.head(100)

In [ ]:
#: check census and lfstl_assmt
sel = '''
select top 100 * from rawdata.lfstl_assmt;
'''

tables = pd.read_sql(sel, con)
tables.head(100)

In [ ]:
#: check census and lfstl_assmt
sel = '''
select count(*) from rawdata.census;
'''

tables = pd.read_sql(sel, con)
tables.head(100)

In [ ]:
#: check census and lfstl_assmt
sel = '''
select count(*) from rawdata.lfstl_assmt;
'''

tables = pd.read_sql(sel, con)
tables.head(100)

In [ ]:
#: print colnames from census and lfstl_assmt

SetPath = "SET search_path TO %s" % "rawdata"
cur.execute(SetPath)

sel = """
with temp as (
    select tablename,"column" 
    from pg_table_def
    where tablename in ('census', 'lfstl_assmt')
)
select count (*) from temp;
"""

result = pd.read_sql(sel,con)

result

# cur.execute(sel)

# con.commit()

# cur

# colnames_ccw_case_acty = cur.fetchall()

# colnames_ccw_case_acty = [i[0] for i in colnames_ccw_case_acty]

***

## now check pulic schema

In [ ]:
#: print all tables under the `pulic` schema

sel = """
SELECT table_name
  FROM information_schema.tables
 WHERE table_schema='public'
   AND table_type='BASE TABLE';
"""

tables = pd.read_sql(sel,con)
tables

In [ ]:
#: print colnames from `person_dated_attr` and `person_attr_type`

sel = """
select tablename,"column" 
from pg_table_def
where tablename in ('person_dated_attr', 'person_attr_type','person')
"""

result = pd.read_sql(sel,con)

result

# cur.execute(sel)

# con.commit()

# cur

# colnames_ccw_case_acty = cur.fetchall()

# colnames_ccw_case_acty = [i[0] for i in colnames_ccw_case_acty]

In [ ]:
sel = '''
SELECT distinct name, comments 
FROM person_attr_type
;
'''


result = pd.read_sql(sel,con)

result.head(100)

In [ ]:
sel = '''
SELECT count(distinct name)
FROM person_attr_type
;
'''


result = pd.read_sql(sel,con)

result.head(100)

## split and conquer strategy to transfrom long fomat to wide format

### first, upload member IDs from local dataframe to redshift

In [ ]:
V3_DF2 = pd.read_csv("/gnshealthcare/shared/yyang/data/ses_data/oncology_m4-8-6.csv", usecols=['origId'])

In [ ]:
# #: run only once

# #create the table but first drop if it already exists
# command = '''
# DROP TABLE IF EXISTS analyst.oncology_m4_8_6;
# CREATE TABLE analyst.oncology_m4_8_6
(
#     INDIV_ENTERPRISE_ID varchar(40)
# ) DISTKEY(INDIV_ENTERPRISE_ID) SORTKEY(INDIV_ENTERPRISE_ID);
# '''
# cur.execute(command)
# con.commit()

In [ ]:
#args = [(1,2), (3,4), (5,6)]
start = 0
while (start < len(V3_DF2.origId)):
    args_str = b",".join(cur.mogrify("(%s)", (x, )) for x in V3_DF2.origId[start: ( start + int(1e6) )])
    cur.execute("INSERT INTO analyst.oncology_m4_8_6 VALUES " + args_str.decode())
    start += int(1e6)

In [23]:
con.commit()

In [26]:
#create the table but first drop if it already exists
sel = '''
select count(*) from analyst.oncology_m4_8_6
'''
cur.execute(sel)
cur.fetchall()

[(3922,)]

In [ ]:
#create the table but first drop if it already exists
sel = '''
select top 10 * from analyst.oncology_m4_8_6
'''
cur.execute(sel)
cur.fetchall()

In [ ]:
result = pd.read_sql(sel,con)

In [ ]:
result.head(30)

### second, create a view for joined table

In [17]:
con.commit()

In [ ]:
# #: create a view (runonce)
# command = '''
# create or replace view analyst.person_attr_joined_oncology_m4_8_6 as (
#     SELECT distinct p.person_xref_key as origId, person_id, name as ses_name, string_value as ses_value, comments 
#     FROM person_dated_attr pda 
#     JOIN person_attr_type pat ON pat.person_attr_type_id = pda.person_attr_type_id
#     join person as p using (person_id)
#     join analyst.oncology_m4_8_6 as onco on p.person_xref_key = onco.indiv_enterprise_id -- extract only those eligible
# )
# ;
# '''
# cur.execute(command)
# con.commit()

In [ ]:
#: check
sel = """
select count(*) from analyst.person_attr_joined_oncology_m4_8_6
--order by origId
"""

result = pd.read_sql(sel,con)

result.head(10000)

In [ ]:
#: check
sel = """
select top 1e3 * from analyst.person_attr_joined_oncology_m4_8_6
--order by origId
"""

result = pd.read_sql(sel,con)

result.head(10000)

In [ ]:
frames = []
frames.append(result.head(100).reset_index(drop=True)) # need to drop index, otherwise cbind is not available, only outer join will be implemented.
frames.append(result.tail(100).reset_index(drop=True))

In [ ]:
pd.concat(frames, axis=1, ignore_index=False)

In [ ]:
# #: (runonce) create a view of qualified_ses_name, showing only the ses_name qualifying the unique cnt and nonnull cnt criteria.
# command = '''
# create or replace view analyst.qualified_ses_name as (
#     SELECT ses_name, count(distinct ses_value) as cnt_uniqVals, count(ses_value) as cnt_nonNullVals
#     FROM analyst.person_attr_joinedElig
#     group by ses_name
#     having cnt_uniqVals > 1 and cnt_nonNullVals > 2538857/2
#     order by ses_name
# )
# ;
# '''
# cur.execute(command)
# con.commit()

In [18]:
#: (runonce) create a view of qualified_ses_name, return all ses_name.
command = '''
create or replace view analyst.qualified_ses_name as (
    SELECT ses_name, count(distinct ses_value) as cnt_uniqVals, count(ses_value) as cnt_nonNullVals
    FROM analyst.person_attr_joined_oncology_m4_8_6
    group by ses_name
    order by ses_name
)
;
'''
cur.execute(command)
con.commit()

In [19]:
#: check

sel = """
select * from analyst.qualified_ses_name
order by ses_name
"""

qualified_ses_name = pd.read_sql(sel,con)

qualified_ses_name.head(100)

                              ses_name  cnt_uniqvals  cnt_nonnullvals
0            cig_c00_000_miacs_mtch_cd             3             3883
1             cig_c00_001_ttl_ppln_num          2295             3941
2          cig_c00_002_hh_ttl_ppln_num          2282             3941
3    cig_c00_003_grp_qtrs_ttl_ppln_num           246             3919
4                    cig_c00_004_tn_hh          1426             3941
5                cig_c00_005_tn_fam_hh          1230             3941
6            cig_c00_006_tn_non_fam_hh           792             3941
7                    cig_c00_007_tn_hu          1534             3941
8               cig_c00_008_tn_vcnt_hu           525             3937
9           cig_c01_001_gendr_male_tpp            49             3938
10           cig_c01_002_gendr_fem_tpp            49             3938
11              cig_c01_003_tp_age_avg           358             3941
12              cig_c01_004_tp_age_mdn           428             3941
13         cig_c01_005_tp_male_age_mdn           465             3940
14          cig_c01_006_tp_fem_age_mdn           454             3940
15               cig_c01_007_alt18_tpp            50             3940
16           cig_c01_008_age_18_64_tpp            79             3936
17                cig_c01_009_a65p_tpp            76             3939
18         cig_c01_010_whto_alt18_tlpp            48             3938
19     cig_c01_011_whto_age_18_64_tlpp            74             3936
20          cig_c01_012_whto_a65p_tlpp            73             3940
21         cig_c01_013_blko_alt18_tlpp            80             3939
22     cig_c01_014_blko_age_18_64_tlpp            92             3940
23          cig_c01_015_blko_a65p_tlpp            82             3929
24         cig_c01_016_hspo_alt18_tlpp            73             3940
25     cig_c01_017_hspo_age_18_64_tlpp            82             3940
26          cig_c01_018_hspo_a65p_tlpp            57             3936
27        cig_c01_019_hhlt18_tlpp_alt3            57             3940
28     cig_c01_020_hhlt18_tlpp_age_3_4            39             3940
29          cig_c01_021_hhlt18_tlpp_a5            24             3933
30     cig_c01_022_hhlt18_tlpp_age_3_5            47             3937
31        cig_c01_023_hhlt18_tlpp_a6_8            43             3937
32    cig_c01_024_hhlt18_tlpp_age_9_11            41             3934
33    cig_c01_025_hhlt18_tlpp_age_6_11            60             3938
34   cig_c01_026_hhlt18_tlpp_age_12_14            43             3938
35   cig_c01_027_hhlt18_tlpp_age_15_17            49             3939
36       cig_c01_028_ppln_a18p_avg_age           326             3941
37       cig_c01_029_ppln_a18p_mdn_age           387             3941
38       cig_c01_030_ppln_a25p_avg_age           304             3941
39       cig_c01_031_ppln_a25p_mdn_age           375             3941
40           cig_c01_032_a18p_pp_18_24            45             3938
41           cig_c01_033_a18p_pp_25_34            59             3939
42           cig_c01_034_a18p_pp_35_44            51             3938
43           cig_c01_035_a18p_pp_45_54            49             3938
44           cig_c01_036_a18p_pp_55_64            43             3935
45           cig_c01_037_a18p_pp_65_74            46             3938
46              cig_c01_038_a18p_pp_75            53             3936
47             cig_c02_001_rc_whto_tpp           100             3941
48             cig_c02_002_rc_blko_tpp            99             3938
49            cig_c02_003_rc_aiano_tpp            20             3903
50           cig_c02_004_rc_asiano_tpp            64             3935
51           cig_c02_005_rc_nhopio_tpp            10             3886
52              cig_c02_006_rc_oro_tpp            50             3933
53           cig_c02_007_rc_2p_rcs_tpp            25             3938
54   cig_c02_008_asian_stlpp_asian_ind            98             3929
55    cig_c02_009_asian_stlpp_japanese            72             3908
56     cig_c02_010_asian_stlpp_chinese            99             3933
57    cig_c02_011_asian_stlpp_filipino            95             3925
58      cig_c02_012_asian_stlpp_korean            84             3918
59  cig_c02_013_asian_stlpp_vietnamese            97             3924
60  cig_c02_014_asian_stlpp_othr_asian            96             3923
61  cig_c02_015_nhopi_stlpp_ntv_hawaii            34             3885
62   cig_c02_016_nhopi_stlpp_guan_cham            26             3885
63      cig_c02_017_nhopi_stlpp_samoan            24             3887
64         cig_c02_018_nhopi_stlpp_opi            24             3884
65          cig_c03_001_hspogn_tpp_hsp           100             3940
66      cig_c03_002_hspogn_tpp_non_hsp           100             3940
67    cig_c03_003_hspogn_tltpp_mexican            80             3937
68  cig_c03_004_hspogn_tltpp_purto_rcn            46             3928
69      cig_c03_005_hspogn_tltpp_cuban            77             3919
70  cig_c03_006_hspogn_tltpp_othr_hspo            61             3938
71          cig_c03_007_rnhsp_whto_tpp           100             3941
72          cig_c03_008_rnhsp_blko_tpp           100             3935
73         cig_c03_009_rnhsp_aiano_tpp            18             3893
74        cig_c03_010_rnhsp_asiano_tpp            63             3932
75        cig_c03_011_rnhsp_nhopio_tpp            10             3884
76           cig_c03_012_rnhsp_oro_tpp            14             3900
77     cig_c03_013_rnhsp_ovr_2_rcs_tpp            21             3930
78         cig_c04_001_atltpp_american            33             3937
79             cig_c04_002_atltpp_arab            17             3910
80          cig_c04_003_atltpp_british             6             3908
81            cig_c04_004_atltpp_czech            18             3914
82           cig_c04_005_atltpp_danish             8             3910
83            cig_c04_006_atltpp_dutch             9             3927
84          cig_c04_007_atltpp_english            25             3936
85         cig_c04_008_atltpp_european            11             3922
86           cig_c04_009_atltpp_french            15             3925
87  cig_c04_010_atltpp_french_canadian             9             3917
88           cig_c04_011_atltpp_german            54             3940
89            cig_c04_012_atltpp_greek            12             3903
90        cig_c04_013_atltpp_hungarian             9             3910
91            cig_c04_014_atltpp_irish            41             3940
92          cig_c04_015_atltpp_italian            51             3936
93       cig_c04_016_atltpp_lithuanian             5             3892
94        cig_c04_017_atltpp_norwegian            24             3930
95           cig_c04_018_atltpp_polish            26             3936
96       cig_c04_019_atltpp_portuguese             9             3903
97          cig_c04_020_atltpp_russian            22             3929
98      cig_c04_021_atltpp_scoth_irish            10             3918
99         cig_c04_022_atltpp_scottish            11             3928

In [25]:
qualified_ses_name.shape

(1050, 3)

In [24]:
## : check how many ses_names left as qualified

sel = """
select count(distinct ses_name) from analyst.qualified_ses_name
"""

result = pd.read_sql(sel,con)

result.head(100)

   count
0   1050

In [ ]:
# #: (runonce) create table of qualified ses_name

# command = """
# create table analyst.qualified_ses_name_tb as
# (
#     select * from analyst.qualified_ses_name
# )
# """

# cur.execute(command)
# con.commit()

In [ ]:
#: check how many ses_names left as qualified

sel = """
select count(*) from analyst.qualified_ses_name_tb
"""

result = pd.read_sql(sel,con)

result.head(100)

In [ ]:
# #: create a table and insert, too slow, quit.
# command = '''
# create table analyst.person_attr_joinedElig_tb  
# (
#     origId varchar(100),
#     person_id varchar(10),
#     ses_name varchar(40),
#     ses_value varchar(40),
#     comments varchar (100)
    
# ) DISTKEY(origId) SORTKEY(origId);
# '''
# cur.execute(command)
# con.commit()




# #: insert content into the newly created table

# command = '''
# insert into analyst.person_attr_joinedElig_tb
# (select * from analyst.person_attr_joinedElig)
# '''

# cur.execute(command)
# con.commit()

## 2. second, everytime obtain just one ses_name and insert a column in the pandas dataframe

In [ ]:
#: test a few exmaples of ses_name
sel = '''
SELECT top 1e5 origId, person_id, 
max(case ses_name when 'cig_c01_008_age_18_64_tpp' then ses_value else null end) as "cig_c01_008_age_18_64_tpp",
max(case ses_name when 'cig_c01_034_a18p_pp_35_44' then ses_value else null end) as "cig_c01_034_a18p_pp_35_44"

--case ses_name when '' then ses_value else null end as "",
from analyst.person_attr_joinedElig
--where origId in ('35928367')
group by origId, person_id
order by origId
;
'''


result = pd.read_sql(sel,con)

result.head(100)

In [ ]:
len(qualified_ses_name)

In [ ]:
[x for x in qualified_ses_name['ses_name'][0:10]]

In [ ]:
#: string manipulation to automate + split-n-conquer
idx = 0
frames=[]
while idx < len(qualified_ses_name):
    max_parts = ["max(case ses_name when '{0}' then ses_value else null end) as \"{0}\"".format(x) 
                 for x in qualified_ses_name['ses_name'][idx:(idx+10)]]
    max_parts_chunk = ",".join(max_parts)

    sel = '''
    SELECT distinct origId, 
    {0}
    from analyst.person_attr_joined_oncology_m4_8_6
    --where origId in ()
    group by origId
    order by origId
    ;
    '''.format(max_parts_chunk)


    ses_selected_result = pd.read_sql(sel,con)

    #ses_selected_result.set_index('origId')
    
    print(ses_selected_result.head(100))
    
    
    frames.append(ses_selected_result)
    print("appended")
    
    idx += 10

In [ ]:
len(frames)

In [ ]:
frames[1].shape

In [ ]:
df = pd.DataFrame({'month': [1, 4, 7, 10],
...                    'year': [2012, 2014, 2013, 2014],
...                    'sale':[55, 40, 84, 31]})

In [ ]:
df

In [ ]:
df.index

In [ ]:
frames[0].set_index(['origid'])

In [ ]:
frames_df = pd.concat([x.set_index(['origid']) for x in frames], axis = 1 )

In [ ]:
frames_df.shape

In [ ]:
frames_df.head(10)

In [ ]:
frames_df.reset_index(inplace=True)

In [ ]:
frames_df.head(10)

In [ ]:
frames_df.dtypes

In [ ]:
import feather
# feather.write_dataframe(frames,dest="/gnshealthcare/shared/yyang/data/ses_data/frames_ses_forTop100kSamples.feather")
frames_df.to_feather(fname="/gnshealthcare/shared/yyang/data/ses_data/frames_allSes__forTop100kSamples.feather")

#### Summary: now R can read feather binary output and continue the analysis.

### Switch to rawdata schema and readin wide format table directly

In [ ]:
# #: check census and lfstl_assmt
# sel = '''
# select top 1e6 * from rawdata.census as csus
# join rawdata.lfstl_assmt as lfstl using (indiv_enterprise_id)
# join analyst.INDIV_ENTERPRISE_ID_elig_2016to2017 as indiv on csus.indiv_enterprise_id = indiv.indiv_enterprise_id -- extract only those eligible
# order by csus.indiv_enterprise_id
# '''

# ses_all_result_wide = pd.read_sql(sel,con)

# ses_all_result_wide.head(100)

In [ ]:
#: Caucious! Very slow on large dataset 

# ses_all_result_wide_refined = ses_all_result_wide.T.drop_duplicates().T

In [ ]:
# import feather
# # feather.write_dataframe(frames,dest="/gnshealthcare/shared/yyang/data/ses_data/frames_ses_forTop100kSamples.feather")
# ses_all_result_wide.to_feather(fname="/gnshealthcare/shared/yyang/data/ses_data/all_ses_forTop1000kSamples.feather")

In [ ]:
# #: string manipulation to automate
# max_parts = ["max(case ses_name when '{0}' then ses_value else null end) as \"{0}\"".format(x) for x in qualified_ses_name['ses_name']]
# max_parts_chunk = ",".join(max_parts)

# sel = '''
# SELECT top 100 origId, person_id, 
# {0}
# from analyst.person_attr_joinedElig
# --where origId in ('35928367')
# group by origId, person_id
# order by origId
# ;
# '''.format(max_parts_chunk)


# ses_selected_result = pd.read_sql(sel,con)

# ses_selected_result.head(100)

In [ ]:
os.makedirs("/gnshealthcare/shared/yyang/data/ses_data", exist_ok=True, mode=0o755 )

In [ ]:
os.chdir("/gnshealthcare/shared/yyang/data/ses_data")

In [ ]:
#os.chdir("/gnshealthcare/shared/nli/dataframe/r36m/")

In [ ]:
print(os.getcwd())

In [ ]:
os.listdir()

In [ ]:
new_path = os.path.join('/gnshealthcare/shared/yyang/', 'Models', 'SES_models')
os.makedirs(new_path, mode=0o755, exist_ok=True)